{% extends 'track_user/base.html' %}

{% block title %} Password changed with success {% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <h4 class="text-center text-capitalize">Password changed with success</h4>
                <p class="text-center text-capitalize">
                    you may now <a href="{% url 'login' %}" class="btn btn-link">log in</a> again.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}